.container {
  transition: transform 2s;
  position: relative;
  padding: 2rem 0;
  color: var(--black-300);

  &:hover {
    color: var(--black);

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 2px;
      background-color: var(--yellow);
      border-radius: 1.25rem 1.25rem 0 0;
    }
  }
}
