:root {
  --white: #FFF;
  --black: #091B3D;
  --black-200: #6B768B;
  --black-300: #9DA4B1;
  --black-400: #CED1D8;
  --black-500: #E5E8EC;
  --blue: #2872F0;
  --blue-400: #D4E3FC;
  --blue-500: #E8F1FE;
  --green: #4B9F47;
  --yellow: #F5B544;
  --yellow-100: ##F7C469;
  --yellow-200: #F8D38F;
  --yellow-300: #FBE0B3;
  --yellow-400: #FDF0DA;
  --yellow-500: #FEF8EB;
}
