@for $i from 1 through 96 {
  .p-#{$i} {
    padding: $i*0.25rem;
  }

  .pl-#{$i} {
    padding-left: $i*0.25rem;
  }

  .pr-#{$i} {
    padding-right: $i*0.25rem;
  }

  .pt-#{$i} {
    padding-top: $i*0.25rem;
  }

  .pb-#{$i} {
    padding-bottom: $i*0.25rem;
  }

  .py-#{$i} {
    padding-top: $i*0.25rem;
    padding-bottom: $i*0.25rem;
  }

  .px-#{$i} {
    padding-left: $i*0.25rem;
    padding-right: $i*0.25rem;
  }
}

.p-0 {
  padding: 0;
}
